 {% extends 'mainapp/base.html' %}

{% block title %}Usuwanie administratora{% endblock title %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/admin">Strona główna</a></li>
<li class="breadcrumb-item"><a href="/admin/admin_list">Administratorzy</a></li>
<li class="breadcrumb-item active" aria-current="page">Usuwanie administratora</li>
{% endblock breadcrumb %}

{% block content %}
				<div class="alert alert-warning" role="alert">Czy napewno chcesz usunąć administratora {{ adminDelName }} ?</div>

				<form method="POST" action="/admin/remove_admin_submit" style="display:inline;">
        {% csrf_token %}
        <input type="hidden" name="adminId" value="{{ adminDelId }}">
        <button type="submit" class="btn btn-danger">Tak</button>
        </form>

				<form method="GET" action="/admin/admin_list" style="display:inline;">
				<button type="submit" class="btn btn-primary">Nie</button>
        </form>
{% endblock content %}
