{% extends 'mainapp/base.html' %}






{% block title %}Administrator - lista administratorów{% endblock title %}





{% block xnavbar %}
<li class="nav-item">
	<a class="nav-link" href="/admin">Szkoły</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="/admin/admin_list">Administratorzy</a>
</li>
{% endblock xnavbar %}




{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Strona główna</li>
{% endblock breadcrumb %}






{% block content %}
	<div style="margin-top: 30px;">
		<h3>Dane administratora:</h3>
		<h5>Imię i nazwisko: {{ userFName }} {{ userLName }}</h4>
	</div>


	<div style="margin-top: 30px">
		<h3>Lista administratorów:</h3>
		<table style="width=100%" class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>E-Mail</th>
			<th>Operacje</th>
		</tr>
	</thead>
	<tbody>
		{% for admin in adminList %}
			<tr>
				<td>{{ admin.name }}</td>
				<td>{{ admin.surname }}</td>
				<td>{{ admin.email }}</td>
				<td>
					{% if admin.id == adminId %}
					<!-- <i style="color: gray;">-</i> -->
					{% else %}
					<a class="btn btn-danger" href="/admin/remove_admin?adminId={{ admin.id }}">Usuń</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>E-Mail</th>
			<th>Operacje</th>
		</tr>
	</tfoot>
		</table>
		<a class="btn btn-danger" href="/admin/add_admin">Dodaj administratora</a>
	</div>
	
{% endblock content %}
