 {% extends 'mainapp/base.html' %}

{% block title %}Usuń szkołę{% endblock title %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
{% endblock breadcrumb %}

{% block content %}
				<div class="alert alert-warning" role="alert">Czy napewno chcesz usunąć szkołę {{ schoolDelName }} ?</div>

				<form method="POST" action="/admin/remove_school_submit" style="display:inline;">
        {% csrf_token %}
        <input type="hidden" name="schoolId" value="{{ schoolDelId }}">
        <button type="submit" class="btn btn-danger">Tak</button>
        </form>

				<form method="GET" action="/admin" style="display:inline;">
				<button type="submit" class="btn btn-primary">Nie</button>
        </form>
{% endblock content %}
