{% extends 'mainapp/base.html' %}



{% block title %}Szkoła - przedmioty{% endblock title %}



{% block xnavbar %}
<li class="nav-item">
	<a class="nav-link" href="/school?id={{ schoolId }}">Nauczyciele</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/school/student_list?id={{ schoolId }}">Uczniowie</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="/school/subject_list?id={{ schoolId }}">Przedmioty</a>
</li>
{% endblock xnavbar %}



{% block breadcrumb %}
{% if not superUser %}
	<li class="breadcrumb-item"><a href="/school?id={{ schoolId }}">Strona główna</a></li>
{% else %}
	<li class="breadcrumb-item"><a href="/admin">Strona główna</a></li>
	<li class="breadcrumb-item"><a href="/school?id={{ schoolId }}">Szkoła</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">Przedmioty</li>
{% endblock breadcrumb %}


{% block content %}
	<div style="margin-top: 30px;">
		<h3>Dane szkoły:</h3>
			<h5>Imię i nazwisko: {{ userFName }} {{ userLName }}</h5>
			<h6 style="margin-top:5px;">Szkoła: {{ schoolName }}</h6>
			<h6>Adres szkoły: {{ schoolAddress }}</h6>
	</div>


	<div style="margin-top: 30px">
		<h3>Lista przedmiotów:</h3>
		<table style="width=100%" class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th colspan="1">Nazwa przedmiotu</th>
			<th colspan="2">Koordynator</th>
			<th colspan="1">Operacje</th>
		</tr>
		<tr>
			<th></th>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for subject in subjectList %}
			<tr>
				<td>{{ subject.name }}</td>
				<td>{{ subject.teacherName }}</td>
				<td>{{ subject.teacherSurname }}</td>
				<td>
					<div class="btn-group" role="group">
						<a class="btn btn-primary" href="/school/subject?id={{ subject.id }}">Podgląd</a>
						<a class="btn btn-danger" href="/school/remove_subject?id={{ schoolId }}&subjectId={{ subject.id }}">Usuń</a>
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th></th>
		</tr>
		<tr>
			<th colspan="1">Nazwa przedmiotu</th>
			<th colspan="2">Koordynator</th>
			<th colspan="1">Operacje</th>
		</tr>
	</tfoot>
		</table>
	</div>
	<div style="padding-top: 15px;" class="row">

		<div style="padding-left: 0px;" class="col">
			<div class="dataTables_info" id="selectedColumn_info" role="status" aria-live="polite">Wyświetlono od {{ count_from }} do {{ count_to }} z {{ count_all }} wpisów</div>
		</div>


		<div style="padding-right: 0px;" class="col">
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-sm justify-content-end">
					<li {% if not prev is None %}style="cursor: pointer;"{% endif %} class="page-item {% if prev is None %}disabled{% endif %}"><a class="page-link" {% if not prev is None %}href="/school/subject_list?id=1&page={{ prev }}"{% endif %} tabindex="-1">&lt;</a></li>
					{% for page in pages %}
					<li {% if not page.active %}style="cursor: pointer;"{% endif %} class="page-item {{ page.active|yesno:'active,' }}"><a class="page-link" {% if not page.active %}href="/school/subject_list?id=1&page={{ page.num }}"{% endif %}>{{ page.num }}</a></li>
					{% endfor %}
					<li {% if not next is None %}style="cursor: pointer;"{% endif %} class="page-item {% if next is None %}disabled{% endif %}"><a class="page-link" {% if not next is None %}href="/school/subject_list?id=1&page={{ next }}"{% endif %}>&gt;</a></li>
				</ul>
			</nav>
		</div>
	</div>




{% endblock content %}
